<!-- list problems and scripts that belong to this coder -->
{% extends "travel/base.html" %}
{% block content %}

    <div class="columns">
        <div class="column">
            <div class="tile is-ancestor has-text-centered">
                <div style="margin: auto;" class="tile is-parent">
                    <div class="tile is-child box">
                        <h1 class="title is-2"> Hello &nbsp<span style="color:#1496ed">{{ user.username }}</span></h1>

                        <h4 class="title is-5">You can publish new travel locations here:</h4>
                        <a class="button is-info is-medium" href="{% url 'travel:publish_problem' %}">Publish a new problem</a>
                    </div>
                </div>
            </div>

                <!-- This is only for testing to see the objects were passed to the template by the view -->

                <hr> ############ testing #######  <br>
                my_locations: {{my_locations}} <br>
                ################################## <br>


                <hr>
                    <div class="box">
                    <h2 class="title" style="color:#00d1b2">Locations defined by you:</h2>
                    {% for l in my_locations %}
                            <div class="content"> {{ l.title }}
                              <a class="button is-primary is-small" href="{% url 'travel:show_my_location' l.id %}">Show more ...</a>
                                                                  <!-- create show_my_problem route right away -->

                            </div>
                    {% endfor %}
                    </div>
        </div>
    </div>

{% endblock content %}
